.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    text-align: center;
    border: 1px black solid;
    width: 31vw;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.imgdiv{
    text-align: center;
}

.img{
    width: 100%;
}

.desc{
    margin-left: 5px;
    margin-right: 5px;
}

.p{
    font-size: 5em;
    font-family: "Comic Sans MS";
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a:visited{
    color: blue;
}

a{
    text-decoration: none;
    color: blue;
    font-family: "Comic Sans MS";
}

header{
    border: 4px double black;
    display: block;
    text-align: center;
    width: 100vw;
}

h1{
    font-family: "Comic Sans MS";
}

h2{
    font-family: "Comic Sans MS";
}

