header{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

img{
    width:33.33333333svw;
}