.cards{
    display: flex;
}

.card{
    text-align: center;
    border: 1px black solid;
    width: 32%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.imgdiv{
    text-align: center;
}

.img{
    width: 100%;
}

.desc{
    margin-left: 5px;
    margin-right: 5px;
}

.p{
    font-size: 5em;
}

body{
    display: flex;
    justify-content: center;
}